body{

background:#f4f8ff;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Poppins,sans-serif;

}

.login-box{

background:white;

padding:35px;

border-radius:20px;

width:340px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

text-align:center;

}

.logo{

width:90px;

margin-bottom:20px;

}

input{

width:100%;

padding:15px;

margin:10px 0;

border:1px solid #ddd;

border-radius:12px;

}

button{

width:100%;

padding:15px;

border:none;

background:#1185ff;

color:white;

font-weight:bold;

border-radius:12px;

cursor:pointer;

}