.order-history{

padding:20px;

}


.order-history h2{

color:#1185ff;

margin-bottom:20px;

}



.order-card{

background:white;

padding:20px;

border-radius:18px;

margin-bottom:15px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

}



.order-card h3{

margin:0;

color:#1185ff;

}



.order-card p{

margin:8px 0;

color:#555;

}



.order-status{

display:inline-block;

padding:7px 14px;

border-radius:20px;

font-size:13px;

font-weight:bold;

color:white;

background:#1185ff;

}



.order-action{

display:flex;

gap:10px;

margin-top:15px;

}



.order-action a{

flex:1;

text-align:center;

padding:12px;

border-radius:12px;

background:#1185ff;

color:white;

text-decoration:none;

font-size:14px;

}



.order-action a:last-child{

background:#25D366;

}