.promo-page{

padding:20px;

}


.promo-page h2{

color:#1185ff;

margin-bottom:20px;

}



.promo-card{

background:white;

border-radius:20px;

padding:22px;

margin-bottom:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}



.promo-card h3{

color:#1185ff;

margin-top:0;

}



.promo-card .discount{

font-size:28px;

font-weight:bold;

color:#ff5a00;

}



.promo-card p{

color:#666;

}



.btn-klaim{

display:block;

margin-top:15px;

text-align:center;

background:#1185ff;

color:white;

padding:13px;

border-radius:12px;

text-decoration:none;

font-weight:bold;

border:none;

width:100%;

}