.tracking-page{

padding:20px;

}

.tracking-page input{

width:100%;

padding:15px;

border-radius:12px;

border:1px solid #ddd;

margin:15px 0;

}

.tracking-page button{

width:100%;

padding:15px;

background:#1185ff;

color:white;

border:none;

border-radius:12px;

font-weight:bold;

}

.tracking-card{

margin-top:20px;

background:white;

padding:20px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.progress{

height:12px;

background:#eee;

border-radius:10px;

overflow:hidden;

margin-top:20px;

}

#progressBar{

width:20%;

height:100%;

background:#1185ff;

transition:.4s;

}